.item-dropdown {
  font-size: 16px;
  margin-right: 10px;
}

.color-edit {
  color: #389e0d !important;
}
.color-cancel {
  color: #cf1322 !important;
}

.ant-steps.ant-steps-horizontal.fnb-steps.ant-steps-small.ant-steps-label-vertical.ant-steps-dot
  .ant-steps-item.ant-steps-item-finish
  .ant-steps-icon-dot,
.ant-steps.ant-steps-horizontal.fnb-steps.ant-steps-small.ant-steps-label-vertical.ant-steps-dot
  .ant-steps-item.ant-steps-item-process.ant-steps-item-active
  .ant-steps-icon-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #50429b;
  background-clip: content-box;
  padding: 3px;
  border: 1px solid #50429b;
}

.ant-steps.ant-steps-horizontal.fnb-steps.ant-steps-small.ant-steps-label-vertical.ant-steps-dot
  .ant-steps-item-wait
  .ant-steps-icon-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e4e4e6;
  background-clip: content-box;
  padding: 3px;
  border: 1px solid #e4e4e6;
}

.ant-steps.ant-steps-horizontal.fnb-steps.ant-steps-small.ant-steps-label-vertical.ant-steps-dot
  .ant-steps-item.ant-steps-item-error.ant-steps-item-active
  .ant-steps-icon-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #db1b1b;
  background-clip: content-box;
  padding: 3px;
  border: 1px solid #db1b1b;
}

.ant-steps.ant-steps-horizontal.fnb-steps.ant-steps-small.ant-steps-label-vertical.ant-steps-dot
  .ant-steps-item.ant-steps-item-error.ant-steps-item-active
  .ant-steps-icon {
  top: -6px;
  left: -5px !important;
}

.back-to-list {
  font-size: 15px;
  color: #868686;
}
.purchase-order-code {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #2b2162;
}

.button-action {
  color: #428bc1;
  margin-top: 10px;
}

.card-parent {
  .card-general-info {
    border-radius: 12px;
    .ant-card-head {
      border-bottom: none;
    }
    .ant-card-head-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
    }
  }
  .card-material-info {
    border-radius: 12px;
    .ant-card-head {
      border-bottom: none;
    }
    .ant-card-head-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
    }
  }
}

.total {
  margin-top: 5%;
  .total-cost {
    padding-top: 5%;
    font-size: 24px;
    line-height: 21px;
    font-weight: 700px;
  }

  .total-cost-label {
    padding-top: 5%;
    font-size: 24px;
    line-height: 21px;
  }

  .material-quantity {
    font-size: 24px;
    line-height: 21px;
    font-weight: 700px;
  }

  .material-quantity-label {
    font-size: 24px;
    line-height: 21px;
  }

  .total-width {
    width: 200px;
  }
}

//#region xs: '(min-width: 575px)',
@media (max-width: 575px) {
  .total {
    .total-width {
      width: 150px;
    }
  }

  .ant-steps.ant-steps-vertical.fnb-steps.ant-steps-small.ant-steps-dot
    .ant-steps-item.ant-steps-item-finish
    .ant-steps-icon-dot,
  .ant-steps.ant-steps-vertical.fnb-steps.ant-steps-small.ant-steps-dot
    .ant-steps-item.ant-steps-item-process.ant-steps-item-active
    .ant-steps-icon-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #50429b;
    background-clip: content-box;
    padding: 3px;
    border: 1px solid #50429b;
  }

  .ant-steps.ant-steps-vertical.fnb-steps.ant-steps-small.ant-steps-dot
    .ant-steps-item-wait
    .ant-steps-icon-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e4e4e6;
    background-clip: content-box;
    padding: 3px;
    border: 1px solid #e4e4e6;
  }

  .ant-steps.ant-steps-vertical.fnb-steps.ant-steps-small.ant-steps-dot
    .ant-steps-item.ant-steps-item-error.ant-steps-item-active
    .ant-steps-icon-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #db1b1b;
    background-clip: content-box;
    padding: 3px;
    border: 1px solid #db1b1b;
  }

  .ant-steps.ant-steps-vertical.fnb-steps.ant-steps-small.ant-steps-dot
    .ant-steps-item.ant-steps-item-error.ant-steps-item-active
    .ant-steps-icon {
    top: -6px;
    left: -5px !important;
  }

  .ant-steps-item.ant-steps-item-process.ant-steps-item-active .ant-steps-icon {
    top: -6px;
  }

  .total {
    .total-cost {
      font-size: 15px;
      line-height: 21px;
      font-weight: 700px;
    }

    .total-cost-label {
      font-size: 15px;
      line-height: 21px;
    }

    .material-quantity {
      font-size: 15px;
      line-height: 21px;
      font-weight: 700px;
    }

    .material-quantity-label {
      font-size: 15px;
      line-height: 21px;
    }

    .total-width {
      width: 150px;
    }
  }
}
