.revenue-order-chart {
  width: 100%;
  height: 100%;

  .revenue-order-chart-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .header-chart-detail {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      color: #2b2162;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;

      .back-to-icon {
        font-size: 20px;
      }
      .back-to-icon:hover {
        cursor: pointer;
      }

      .pie-chart-title {
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #2b2162;
      }

      .pie-chart-title-detail {
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        text-align: right;
        color: #50429b;
      }
      .pie-chart-title-detail:hover {
        cursor: pointer;
      }
    }

    .pie-chart-content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .table-chart-detail {
      overflow-y: auto;
      table {
        width: 100% !important;
      }
      table > tr > td {
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-size: 18px;
        font-weight: 600;
        padding: 0 16px;
      }
      table > tr > td:nth-child(2) {
        text-align: right;
      }
    }

    .order-report-pie-chart {
      height: 290px !important;
      width: 70%;
    }

    .revenue-chart-description {
      min-width: 250px;
      .pie-chart-report-legend {
        .marker {
          width: 16px;
          height: 16px;
          border-radius: 16px;
          margin-right: 10px;
          margin-bottom: 15px;
          margin-top: 3px;
        }

        .legend-name {
          display: flex;
          justify-content: space-between;

          .icon-text {
            display: flex;
            flex-direction: row;
          }
        }
      }
    }

    .no-data {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
