.fnb-input-discount {
  height: 60px;
  font-size: 18px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: none;

  .ant-input-number-input-wrap {
    height: 100%;
    display: inline-flex;
    align-items: center;
    width: 100%;
  }

  .ant-input-number-handler-wrap {
    display: none;
  }

  .ant-input-number-input {
    padding-left: 16px;
  }

  .ant-input-number-group-addon {
    background: transparent;
    border-radius: 0 16px 16px 0;
    opacity: 0.5;
    font-size: 18px;
    border: none;
    opacity: 1;
    padding: unset;
    .radio-group-discount {
      width: 152px;
      .ant-radio-button-wrapper {
        height: 60px;
        display: table-cell;
        vertical-align: middle;
      }
      .ant-radio-button-wrapper-checked {
        background: #50429b !important;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) !important;
        color: #ffffff !important;
        border-color: #50429b !important;
      }
      .percent-option {
        border-radius: 12px 0px 0px 12px;
        width: 76px;
      }
      .currency-option {
        border-radius: 0px 12px 12px 0px;
        width: 76px;
      }
    }
  }

  .ant-input-number-wrapper.ant-input-number-group {
    .fnb-input-discount {
      box-shadow: none;
    }
  }

  .ant-radio-button-wrapper {
    border-right: none;
  }

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: unset;
  }
}

.fnb-input-discount:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.fnb-input-discount:focus,
.fnb-input-discount:visited,
.fnb-input-discount:focus-within {
  box-shadow: 0px 1px 4px #50429b;
  border: none;
}

.fnb-input-discount:placeholder-shown {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.3px;
  color: #9f9f9f;
  padding-left: 16px;
}

.fnb-input-discount[disabled] {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background: #f7f7f7;
  border-color: #ffffff;
  cursor: not-allowed;
  opacity: 1;
}

@media (max-width: 740px) {
  .fnb-input-discount {
    height: 48px;
    font-size: 16px;

    .ant-input-number-group-addon {
      .radio-group-discount {
        .ant-radio-button-wrapper {
          height: 48px;
        }
      }
    }
  }
}
