.icon-btn-add-new-select{    
    border: 1px solid #fff;
    background: #fff;
    color: #FF8C21;
    border-radius: 4px;
    width: 21px;
    height: 21px;
    margin-right: 10px;
}

.input-add-new-select{
    height: 60px !important;
}