.status-sent {
  background-color: rgba(219, 27, 27, 0.1);
  color: #db1b1b;
  border-radius: 16px;
  padding: 6px 12px;
  width: fit-content;
  display: flex;
  align-items: center;
}

.hh-mm-format {
  margin-right: 15px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  align-items: center;
}

// ContentEmailCampaign
.content-email-campaign {
  .fnb-collapse.content-article {
    border-radius: 12px;
  }
  .fnb-collapse.content-article .ant-collapse-item:last-child {
    border-radius: 12px !important;
  }
  .fnb-collapse .ant-collapse-header div:first-child {
    margin-right: 0px;
  }
  .ant-collapse.content-article > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    margin-right: 0px;
  }
  .fnb-collapse .ant-collapse-content {
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
  }

  .content-article {
    margin-bottom: 24px;
  }

  .content-main-article,
  .content-sub-article {
    width: 100%;

    .ant-collapse-item {
      background: #f7f5ff;
      border-radius: 12px !important;
      .ant-collapse-header-text {
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #463796;
      }
    }

    .main-article,
    .sub-article {
      padding-top: 30px;
      .mt-12 {
        margin-top: 12px;
      }
      .mt-30 {
        margin-top: 30px;
      }

      .thumbnail {
        display: flex;
        flex-direction: column;
        .non-image {
          max-width: 100%;
        }
      }

      .target-title {
        display: flex;
        align-items: center;

        svg {
          margin-left: 12px;
        }
      }
    }

    .ant-collapse-content-box {
      padding-left: 16px !important;
      padding-right: 16px;
    }
    .ant-collapse > .ant-collapse-item:last-child,
    .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
      border-radius: 2px;
    }
    .ant-collapse-header {
      height: 77px;
    }
    .ant-collapse-item.ant-collapse-item-active {
      .ant-collapse-header {
        border-bottom-left-radius: 12px !important;
        border-bottom-right-radius: 12px !important;
      }
    }
  }

  .content-sub-article {
    .sub-article {
      .article-title {
        h3 {
          font-family: "Plus Jakarta Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          color: #50429b;
        }
        hr {
          background: #ebe8fe;
          height: 1px;
          border: none;
          margin-bottom: 30px;
        }
      }
    }
  }

  .ant-collapse-content-box {
    padding-left: 26px !important;
    padding-right: 38px;
  }
}
