.upload-image-component{
  width: unset !important;
  .ant-upload-list{
    .ant-upload{
      width: unset !important;
      height: unset !important;
      margin-right: unset !important;
      margin-bottom: unset !important;
      background-color: transparent !important;
      border: unset !important;
      border-radius: unset !important;
      cursor: pointer;
      transition: border-color 0.3s;
    }
    .ant-upload-list-picture-card-container{
      border: unset !important;
      .ant-upload-list-item{
        border: unset !important;
        .ant-upload-list-item-info{
          border-radius: 16px;
          transform: scale3d(1.5, 1.5, 1.5);
        }
      }
    }
  }
}

.btn-upload-image{
  width: 120px;
  height: 36px;
  border: unset;
  border-radius: 8px;
  color: #50429B;
  margin-right: 15px;
  font-size: 18px;
  background: #F9F8FF;
}

.btn-upload-image:hover{
  cursor: pointer;
}

.btn-hidden{
  display: none;
}

.image-store-item{
  position: inherit;
  z-index: 9999;
  border-radius: 30px;
  min-width: 353px;
  min-height: 353px;
  background: #F7F5FF;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 305px;
    height: 305px;
    border-radius: 16px;
  }
}

.store-logo-delete-icon{
  position: absolute;
  top: 40px;
  right: 40px;
  width: 30px;
}

.store-logo-delete-icon:hover{
  cursor: pointer;
  height: 30px;
}

.store-logo-default{
  background: #fff;
}

.group-btn-store-logo{
  display: none;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;    
  top: 0%;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 0;
  min-width: 353px;
  max-width: 100%;
    .edit-fill-icon, .eye-open-icon, .trash-fill-icon{
      width: 100%;
    }
    .edit-fill-icon:hover, .eye-open-icon:hover, .trash-fill-icon:hover{
      cursor: pointer;
    }
    .group-btn-upload-image-row{
      width: 100%;
      .group-btn-upload-image-item{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
}

.group-btn-upload-image-display{
  display: inline-flex !important;
}