
.fnb-logo {
    width: 19%;
    height: 100%;
}
.billing-package {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 17px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 19px;

    background: #F7F5FF;
    border-radius: 16px;
  }

.logo-container {
    width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 85px;

  .logo {
    margin: auto;
  }
}

.wrapper-package {
    width: 100%;
    padding: 24px;
    padding-top: 0;
    padding-bottom: 0;
    .package-container {
        background: #FFFFFF;
        border-radius: 16px;
        width: 100%;
    }
}

@media (max-width: 740px) {
  .billing-package {
    min-width: 740px;
  }
}