.transaction-report-tabs {
  .ant-tabs-nav {
    height: 108px;
    background: #ffffff;
    border-radius: 16px;
  }
  .ant-tabs-nav-list {
    display: inline-flex;
  }
  .ant-tabs-nav-wrap {
    padding-left: 24px;
    padding-right: 24px;
    height: 60px;
    margin: auto 0;
  }
  .ant-tabs-tab {
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
    background: #f7f5ff;
    border-radius: 12px;
    height: 100%;
    text-transform: uppercase;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.3px;
    color: #50429b;
  }
  .ant-tabs-tab-active {
    background: #50429b;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.3px;

    .ant-tabs-tab-btn {
      color: white;
    }
  }
  .ant-tabs-ink-bar {
    background: none;
  }
}
